doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    script(src='/lodash/lodash.min.js')
    script(src='/babel-polyfill/dist/polyfill.min.js')
    script(src='/jquery/dist/jquery.min.js')

    script(src='/constant.js')
    script(src='/Util.js')
  body
    block content
