extends layout
block content
    .nav

    .speech
        iframe(width=200,height=100 src='/speech?text=안녕하세요')


    .search

    .filter

    .container
        .cookList

    .cookModal-container
        i.close-btn.material-icons clear
        .cookModal


    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/main.js')

