extends layout
block content
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
    .header
        .nav
            .main_title
                //img(src='logo.png')
        .search
            form.search_bar(method='post', action='/')
                input.search_bar_input(autocomplete='off', type='text', name='search', value='', placeholder='검색어를 입력해주세요')

        //.speech
        //    iframe(width=200,height=100 src='/speech?text=안녕하세요')

        .filter
            //.selection-checkboxes
            //    .selection-checkbox
            //        p 난이도:
            //            <input type="checkbox" class="box">하(요리과정:1~3) </>
            //            <input type="checkbox" class="box">중(요리과정:4~6) </>
            //            <input type="checkbox" class="box">상(요리과정:7~) </>
            //    .selection-checkbox
            //        p  시간:
            //            <input type="checkbox" class="box">~25분 </>
            //            <input type="checkbox" class="box">25분~35분 </>
            //            <input type="checkbox" class="box">35분~90분 </>
            //            <input type="checkbox" class="box">90분~ </>
            //
            //    .selection-checkbox
            //        p 칼로리:
            //            <input type="checkbox" class="box">~100kcal </>
            //            <input type="checkbox" class="box">100kcal~250kcal </>
            //            <input type="checkbox" class="box">250kcal~400kcal </>
            //            <input type="checkbox" class="box">400kcal~550kcal </>
            //            <input type="checkbox" class="box">550kcal~ </>


    .container

        .cookList

        .cookModal-container
            i.close-btn.material-icons clear
            .cookModal


    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/main.js')