$modal-header-height : 130px


.article
  border: 5px solid lightgray
  display: flex

  .articleImage
    height: 100%
    border-right: 5px solid lightgray
    flex: 1

    img
      width: 100%
      height: 100%

  .articleContent
    height: 100%
    flex: 1
    text-align: left
    background-color: #FAFAFA

    .head
      height: $modal-header-height

      .name-text
        height: 80%
        margin: 0 20px 20px 20px
        text-align: center
        font-weight: bold
        font-size: 200%
        border-bottom: 1px solid lightgray
        padding-top: 40px

    ul.info
      height: 40%
      width: 100%
      margin: 0

    .ingredients
      height: 40%
      width: 100%

      .ingredient
        width: 100%
        height: 50%

        .ingredient-title
          font-size: 1.5em
          border-top: 1px solid lightgray
          text-align: center
          padding-top: 20px
          margin: 0 20px 20px 20px

        .ingredient-text
          padding: 0 10px
          text-align: center

.btn
  width: 100px
  height: 50px
  background-color: darkorange

.process-wrap
  display: none

.speechFrame
  display: none