.article {
  border: 3px solid #f5f6fa;
  display: inline-block;
  width: 1066px;
  height: 600px; }
  .article .articleImage {
    width: 60%;
    height: 100%;
    border-right: 3px solid #f5f6fa;
    display: inline-block;
    vertical-align: top; }
    .article .articleImage img {
      width: 100%;
      height: 100%; }
  .article .articleContent {
    width: 40%;
    height: 100%;
    background-color: #FAFAFA;
    display: inline-block; }
    .article .articleContent .head {
      height: 20%; }
      .article .articleContent .head .head-text {
        height: 100%;
        padding: 20px; }
        .article .articleContent .head .head-text .cite-text {
          text-align: center;
          padding: 10px 0 5px 0;
          color: #666; }
        .article .articleContent .head .head-text .name-text {
          text-align: center;
          font-weight: bold;
          font-size: 200%; }
    .article .articleContent .center {
      height: 20%;
      padding-top: 10px;
      margin-left: 20px;
      margin-right: 20px;
      border-top: 1px solid lightgray; }
      .article .articleContent .center .infos {
        height: 100%;
        margin: 20px 20px 0 20px;
        display: flex;
        text-align: center; }
        .article .articleContent .center .infos .info {
          height: 100%;
          flex: 1; }
          .article .articleContent .center .infos .info .material-icons {
            font-size: 30px; }
          .article .articleContent .center .infos .info .info-text {
            text-align: center;
            font-size: 100%;
            padding-top: 10px;
            padding-bottom: 20px; }
    .article .articleContent .ingredients {
      height: 30%;
      width: 100%; }
      .article .articleContent .ingredients .ingredient {
        width: 100%;
        height: 50%;
        padding: 0 20px; }
        .article .articleContent .ingredients .ingredient .ingredient-title {
          font-size: 1.5em;
          font-weight: bold;
          border-top: 1px solid lightgray;
          text-align: center;
          padding-top: 20px; }
        .article .articleContent .ingredients .ingredient .ingredient-text {
          padding: 10px;
          text-align: center; }
    .article .articleContent .button-wrap {
      height: 50px;
      background: none; }
      .article .articleContent .button-wrap .process.btn {
        height: 100%; }
        .article .articleContent .button-wrap .process.btn h2 {
          text-align: right;
          color: white;
          margin-right: 0;
          margin-left: 250px; }
        .article .articleContent .button-wrap .process.btn h2:hover {
          color: #f39c12; }
        .article .articleContent .button-wrap .process.btn i.next {
          color: white; }

.process-wrap {
  display: inline-block;
  width: 1066px;
  height: 600px;
  margin: 151px auto;
  display: none; }
  .process-wrap .left-side {
    width: 5%;
    height: calc(100% - 40px);
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
    border-right: 1px solid lightgray; }
    .process-wrap .left-side .back.btn {
      display: inline-block;
      text-align: center;
      line-height: 580px;
      width: 100%;
      color: #707070; }
      .process-wrap .left-side .back.btn i.btn.material-icons {
        font-size: 40px; }
        .process-wrap .left-side .back.btn i.btn.material-icons:hover {
          border: 0.5px solid white;
          color: white;
          border-radius: 20px;
          cursor: pointer; }
  .process-wrap .center-side {
    width: 90%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: whitesmoke; }
    .process-wrap .center-side .image-wrapped {
      width: calc(60% - 40px);
      height: calc(100% - 40px);
      display: inline-block;
      margin: 20px 0 20px 20px;
      border-top: 3px double lightgray;
      border-left: 3px double lightgray;
      border-bottom: 3px double lightgray; }
      .process-wrap .center-side .image-wrapped img {
        margin: 80px;
        width: calc(100% - 200px);
        height: calc(100% - 200px); }
    .process-wrap .center-side .description-wrapped {
      width: 40%;
      height: calc(100% - 40px);
      padding-left: 18px;
      margin: 20px 20px 20px 0;
      display: inline-block;
      vertical-align: top;
      border-right: 3px double lightgray;
      border-top: 3px double lightgray;
      border-bottom: 3px double lightgray; }
      .process-wrap .center-side .description-wrapped .descript {
        height: calc(100% - 60px);
        margin: 30px 0;
        text-align: center;
        line-height: 488px;
        font-size: 100%;
        border-left: 2px dotted lightgray; }
  .process-wrap .right-side {
    width: 5%;
    height: calc(100% - 40px);
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid lightgray;
    margin: 20px 0; }
    .process-wrap .right-side .next.btn {
      width: 100%;
      display: inline-block;
      line-height: 580px;
      text-align: center;
      color: #707070; }
      .process-wrap .right-side .next.btn i.btn.material-icons {
        font-size: 40px; }
        .process-wrap .right-side .next.btn i.btn.material-icons:hover {
          border: 0.5px solid white;
          color: white;
          border-radius: 20px;
          cursor: pointer; }

.speechFrame {
  display: none; }

/*# sourceMappingURL=cook.css.map */