$search-height : 144px
$filter-height : 88px

$cookItem-width : 202px
$cookItem-height : 158px

.cell
  padding: 8px

.zone
  width: 100%
  height: 100%
  border: solid 1px #aaa

.speech
  display: none

.search
  height: $search-height
  background-color: #fefefe
  border-bottom: solid 0.5px #bbbbbb

.filter
  height: $filter-height
  background-color: #fefefe
  border-bottom: solid 0.5px #bbbbbb

.container
  background-color: rgb(235,235,235)

  .cookList
    padding-top: 24px
    margin: auto
    max-width: 1180px
    display: flex
    flex-wrap: wrap

    .cookItem
      float: left
      width: 202px
      border-radius: 5px 5px 3px 3px
      margin: 0 20px 20px 0
      box-shadow: 0 1px 2px rgba(25,25,25,0.2)
      background-color: #fff

      img.image
        width: $cookItem-width
        height: $cookItem-height
      .text
        padding: 5px 10px 10px 10px
        .name
          font-size: 18px
        .ingredient
          padding-top: 5px

.cookModal-container
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: rgba(5,5,5,0.8)
  display: none

  .cookModal
    width: 1180px
    height: calc(100% - 30px)
    background-color: #fff
    margin: 30px auto 0 auto

  i
    color: #fcfcfc
    position: absolute
    top: 25px
    right: 25px






